@import url("font-awesome.min.css");
@import url("zocial.css");
@import url("../fontawesome/css/all.css");
@import url("http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);

@media screen and (min-width: 768px) {
    body {
        padding-top: 100px;
    }
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

@font-face {
    font-family: "fontawesome";
    src: url("../fontawesome/css/all.css");
}

html {
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Computer Modern Sans", serif;
    font-size: 110% !important;
}

.h2,
h2 {
    font-size: 2rem;
    padding-top: 4rem;
    margin-top: -2rem;
}

.h4,
h4 {
    font-size: 1.5rem;
    padding-top: 4rem;
    margin-top: -2rem;
    font-weight: bold;
}

.topmargin {
    margin-top: 0rem;
}

code {
    display: block;
    line-height: 150%;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2.25em 0;
    width: 100%;
}

table tbody tr {
    border: solid 2px #f4f4f4;
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: #fafafa;
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #777;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 4px #e4e4e4;
}

table tfoot {
    border-top: solid 4px #e4e4e4;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 2px #e4e4e4;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 2px;
}

table.alt tbody tr:first-child td {
    border-top-width: 2px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/*defining headers*/
.hr-text-container {
    width: 100%;
    height: 1.05em;
    border-bottom: 1.5px solid #ddd;
    text-align: left;
    float: left;
    margin-bottom: 20px;
}

.hr-text-content {
    font-size: 1em;
    background-color: white;
    padding-right: 5px;
}

.hr-text-container-h3 {
    width: 100%;
    height: 1.15em;
    border-bottom: 1.5px solid #ddd;
    text-align: left;
    float: left;
    margin-bottom: 20px;
}

.hr-text-content-h3 {
    font-size: 1.5em;
    font-weight: bold;
    background-color: white;
    padding-right: 5px;
    color: #6d7993;
}

/*research interests section*/

.research-table {
    border-collapse: collapse !important;
    margin: 0;
    min-width: 100%;
}

.research-table td:nth-child(1) {
    width: 150px;
    padding: 0.3em 0em !important;
    font-weight: bold;
}

.research-table td:nth-child(2) {
    width: auto;
    padding: 0.3em 0em !important;
}

.research-table td:nth-child(2) a {
    background-color: #6d7993;
    color: white;
    padding: 4px 6px;
    width: 100px !important;
    border-radius: .25em;
    font-size: 0.9em;
    text-decoration: none;
}

.research-table td:nth-child(2) a:hover {
    background-color: white;
}

.research-topic {
    padding-top: 40px;
}

/* pubs CSS */

.pubs_img {
    border-style: solid !important;
    border-width: 1px !important;
    display: block;
    width: 100%;
}

.pubs_title {
    font-family: 'CMUSansSerifBold';
    font-size: 1.2em;
}

.pubs_title_a {
    text-decoration: none;
    border: none;
    font-family: 'CMUSansSerifBold';
    font-size: 16pt;
}

.pubs_content {
    font-family: 'CMUSansSerifBold';
    font-size: 16pt;
}

.image-holder {
    float: left;
    width: 100%;
    vertical-align: middle;
}

.pub-text {
    padding-top: 2em;
}

.resource {
    padding-top: 1em;
    padding-bottom: 1em;
}

.resource.atlas {
    background-color: #F6FFFF;
}

.resource.speedchecker {
    background-color: #FFF9F6;
}

.fig {
    padding: .5em;
}

.resource-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.resource-img-med {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.resource-img-large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.caption {
    border: 1px dotted blue;
    text-align: center;
    color: #6d7993;
}

/*Header CSS*/

.decorated {
    overflow: hidden;
    text-align: center;
}

.decorated > span {
    position: relative;
    display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 2px solid;
    width: 100vw;
    margin: 0 20px;
}

.decorated > span:before {
    right: 100%;
}

.decorated > span:after {
    left: 100%;
}

/*Ack section CSS*/
.ack {
    text-align: center;
    color: #6d7993;
    padding-bottom: 2em;
}

.list-wrapper {
    text-align: center
}

#services {
    list-style: none;
    /*
    justify-content: center;
    display: flex;
*/
}

#services li {
    display: inline-block;
    margin: 0.5em;
    width: 30%;
}

#services .square {
    width: 20%;
}

/*
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
*/

/*button animation*/
/*
* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 65rem;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    text-align: center;
    background: #fff;
    border: 0.5rem solid #34495e;
}

hr {
    border: 0;
    border-bottom: 0.0625rem solid #bbb;
    margin: 3rem 0;
}*/

button {
    font-size: 1.1em !important;
    background: #3498db;
    color: #fff;
    border: 0.2rem solid #3498db;
    padding: 0.8em 0.75em;
    margin: 2em;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

button:hover {
    color: #3498db;
}

button::after {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -3;
    padding: 0.85em 0.75em;
    display: block;
    overflow: hidden;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: -5;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}

button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}

button.slide_from_top::after {
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
}

button.slide_from_bottom::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

button[class^="grow"]::after {
    transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}

button.grow_box::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
}

button.grow_box:hover::after {
    transform: scale(1, 1);
}

button.grow_ellipse::after {
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    line-height: 8.34em;
    transform: scale(0, 0);
}

button.grow_ellipse:hover::after {
    transform: scale(1, 1);
}

button.grow_skew_forward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
}

button.grow_skew_forward:hover::after {
    transform: skewX(-45deg) scale(1, 1);
}

button.grow_skew_backward::after {
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
}

button.grow_skew_backward:hover::after {
    transform: skewX(45deg) scale(1, 1);
}

button.grow_spin::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
}

button.grow_spin:hover::after {
    transform: scale(1, 1) rotate(0deg);
}
